{% extends 'base.html.twig' %}

{% block title %}Band index
{% endblock %}

{% block body %}
	<div class="pt-5 mt-5">
		<div class="container d-flex flex-column align-items-center border border-primary rounded pb-3 px-4">
			<h1 class="mt-2 pt-5 pb-2">Band index</h1>
			<a href="{{ path('app_band_new') }}" type="button" class="btn border border-primary btn-lg my-5 pb-1">Add a band</a>
			<table class="table border-top border-primary rounded fs-5">
				<thead>
					<tr>
						<th>Name</th>
						<th>Genre</th>
						<th>Country</th>
					</tr>
				</thead>
				<tbody>
					{% for band in bands %}
						<tr>
							<td><a href="{{ path('app_band_show', {'id': band.id}) }}">{{ band.bandName }}</a></td>
							<td>{{ band.bandGenre }}</td>
							<td>{{ band.bandCountry|country_name }}</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
