{% extends 'base.html.twig' %}

{% block title %}New Band
{% endblock %}

{% block body %}
	<div class="pt-5 mt-5">
		<div class="container bg-dark flex-column align-items-center border border-primary rounded">
			<h1 class="mt-2 pt-5 pb-2 text-center">Add a new Band</h1>

			{{ form_start(form) }}
			<div class="grid gap-3 column-gap-5 d-flex mb-5">
				<div class="col">
					<div class="py-4 px-4">
						{{ form_label(form.bandName) }}
						{{ form_widget(form.bandName) }}
					</div>
					<div class="py-4 px-4">
						{{ form_label(form.bandCountry) }}
						{{ form_widget(form.bandCountry) }}
					</div>
					<div class="py-4 px-4">
						{{ form_label(form.bandYear) }}
						{{ form_widget(form.bandYear) }}
					</div>
				</div>
				<div class="col">
					<div class="py-4 px-4">
						{{ form_label(form.bandGenre) }}
						{{ form_widget(form.bandGenre) }}
					</div>
					<div class="py-4 px-4">
						{{ form_label(form.bandLogoFile) }}
						{{ form_widget(form.bandLogoFile) }}
					</div>
					<div class="py-4 px-4">
						{{ form_label(form.bandPictureFile) }}
						{{ form_widget(form.bandPictureFile) }}
					</div>
				</div>
			</div>
			<div class="border-top border-primary">
				<div class="my-5 mx-3 d-flex justify-content-around w-100">
					<a href="{{ path('app_band_index') }}" type="button" class="btn border border-primary btn-lg">Back</a>
					<button type="submit" class="btn border border-primary color-primary-light btn-lg">
						{{ button_label|default('Submit') }}
					</button>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
