{% extends 'base.html.twig' %}

{% block title %}Album
{% endblock %}

{% block body %}
	<div class="pt-5 mt-5">
		<div class="container bg-dark d-flex flex-column text-center align-items-center border border-primary rounded mb-4">
			<h1 class="mt-2 pt-5 pb-4">
				<span class="custom-text">{{ album.albumTitle }}</span>
				by
				<span class="custom-text">{{ album.bandName.bandName }}</span>
			</h1>

			<div class="container p-4 fs-5">
				<div class="row">
					<div class="col-12 col-sm-6 text-center">
						<div>
							<img class="img-fluid my-5" style="height: 550px" src="{{ vich_uploader_asset(album, 'albumCoverFile') }}" alt="{{ album.albumCover }}">
						</div>
					</div>
					<div class="col-12 col-sm-6 text-center">
						<div class="py-5 my-5 border border-primary rounded d-flex flex-column gap-5">
							<div class="">
								<h4>Released</h4>
								<h4>{{ album.albumYear|date('d-M-y') }}</h4>
							</div>
							<div>
								<h4>Album title :</h4>
								<h4>{{ album.albumTitle }}</h4>
							</div>
							<div>
								<h4>Label :
								</h4>
							</div>
							<div class="d-flex flex-column">
								<h4>Release type :</h4>
								<h4>{{ album.albumType }}</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-6 text-center">
						<div class="mt-5">
							<h4 class="mt-3">Tracklist</h4>
						</div>
						{% for song in songTracklist %}
							<div>
								<ul class="ps-0">
									<li class="d-flex flex-row p-0 justify-content-between border-top border-primary">
										<p class="mb-0 mt-3">{{ song.songNumber }}</p>
										<p class="mb-0 mt-3">{{ song.songTitle }}</p>
										<p class="mb-0 mt-3">{{ song.songDuration|date('H:i') }}</p>
									</li>
								</ul>
							</div>
						{% else %}
							<p>{{ album.albumTitle }}
								has no known tracklist yet</p>
						{% endfor %}
						<div class="pt-3 border-top border-primary"></div>
					</div>
					<div class="col-12 col-sm-6 text-center">
						<div class="mt-5">
							<h4 class="mt-3">Line-up</h4>
						</div>
					</div>
					<div>
						<p class="m-0 pt-5 text-bottom">Updated
							{{ album.updatedAt ? album.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
					</div>
				</div>
			</div>
			<div class="my-5 mx-3 d-flex justify-content-around w-100">
				<a href="{{ path('app_band_show', {'id': band.id}) }}" type="button" class="btn border border-primary btn-lg">Return</a>

				{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('app_album_edit', {'id': album.id}) }}" type="button" class="btn border border-primary btn-lg">Edit album</a>
				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}
